extends layout

block content

  div.background
   a.dark(href="/")
    h2.zine The Zine
  div.new
    div.article
     h2 New Article
     form(action= "/articles", method= "post")
       div.inputs
        label(for= "title") Title
        input.wide(type= "text" id= "title" name="title" value=title)
        p
        label(for= "url") Background URL
        input.wide(type= "text" id= "url" name="url" value=url)
        p
        input.check(type= "checkbox" name="color" id= "color")
        label.checkl(for= "color") Background image has dark colors
        p
        label(for="excerpt") Excerpt
        textarea(type="textarea" name="excerpt" id="excerpt" value=excerpt)
        p
        label(for= "long") Body
        textarea(type= "textarea" name="long" id="long" value=main)
        p
        input.add(type="submit" value="Add Article")
     if (errorlist)
      h1 Please correct the errors below
      div.red
       ul 
        for item in errorlist
          li= item
  
